  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Inventario de Mobiliarios
          </div>
          <div>
            <div class="container">
                <br>
                <p>
                    <button  class="btn btn-outline-info" (click)="Entrada = !Entrada"
                            [attr.aria-expanded]="!Entrada" aria-controls="collapseExample">
                      Ingresar Entrada
                    </button>
                  </p>
                  <div id="collapseExample" *ngIf="Entrada">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                    <label class="col-form-label" for="anio">
                                      Cantidad Entrada
                                    </label>
                                    <div class="controls">
                                      <div class="input-prepend input-group">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input id="can_entrada" name='can_entrada' class="form-control" size="16" type="number">
                                      </div>
                                    </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="col-form-label" for="asignatura">Descripcion</label>
                                <div class="controls">
                                  <div class="input-group">
                                    <input id="prependedInput" class="form-control" size="16" type="text">
                                    <div class="input-group-append">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                  <label class="col-form-label" for="asignatura">Serie</label>
                                  <div class="controls">
                                    <div class="input-group">
                                        <input id="prependedInput" class="form-control" size="16" type="text">
                                      <div class="input-group-append">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                    <label class="col-form-label" for="anio">
                                      Cantidad Entrada
                                    </label>
                                    <div class="controls">
                                      <div class="input-prepend input-group">
                                        <div class="input-group-prepend">
                                        </div>
                                        <select class="form-control" id="estado" name='estado'>
                                            <option [ngValue]="{}">Seleccione el estado</option>
                                            <option > bueno </option>
                                          </select>
                                      </div>
                                    </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="col-form-label" for="asignatura">Observaciones</label>
                                <div class="controls">
                                  <div class="input-group">
                                    <input id="prependedInput" class="form-control" size="16" type="text">
                                    <div class="input-group-append">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                   
                          </div>
                      </div>
                    </div>
                  </div>
                  <p>
                    <button  class="btn btn-outline-info" (click)="Salida = !Salida"
                            [attr.aria-expanded]="!Salida" aria-controls="collapseExample">
                      Ingresar Salida
                    </button>
                  </p>
                  <div id="collapseExample" *ngIf="Salida">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                        <label class="col-form-label" for="anio">
                                          Cantidad Salida
                                        </label>
                                        <div class="controls">
                                          <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                            </div>
                                            <input id="can_entrada" name='can_entrada' class="form-control" size="16" type="number">
                                          </div>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="col-form-label" for="asignatura">Fecha</label>
                                    <div class="controls">
                                      <div class="input-group">
                                        <input type="date" class="form-control" size="16" >
                                        <div class="input-group-append">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                        <label class="col-form-label" for="anio">
                                          Recibido por:
                                        </label>
                                        <div class="controls">
                                          <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                            </div>
                                            <input id="prependedInput" class="form-control" size="16" type="text">
                                          </div>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="col-form-label" for="asignatura">Destino o actividad</label>
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                          <div class="input-group-prepend">
                                          </div>
                                          <input id="prependedInput" class="form-control" size="16" type="text">
                                        </div>
                                      </div>
                                  </div>
                                </div>
                       
                              </div>
                          </div>
                    </div>
                  </div>
     
              <button class="btn btn-primary" (click)="Guardar()">
                Guardar registros
              </button>
          </div>
  
          <div class="card-body">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Serie</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha Salida</th>
                    <th scope="col">Cantidad Salida</th>
                    <th scope="col">Existencia</th>
                    <th scope="col">Recibido</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>hello</td>
                    <td>hello</td>
                    <td>hello</td>
                    <td>hello</td>
                    <td>hello</td>
                    <td>hello</td>
                    <td>hello</td>
                    <td>hello</td>
                    <td>hello</td>
                    <td>hello</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">Editar</button>
                            <button type="button" class="btn btn-secondary">Eliminar</button>
                          </div>                  
                    </td>
                  </tr>
                  <tr> 
                    <td>hello</td>
                  </tr>
                  <tr> 
                    <td>hello</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>