<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <div style="display: flex; justify-content: center;">
                    <img style="width: 65px; height: auto;" src = "../../../assets/img/avatars/login.png">
                  </div>
                  <h1 class="text-center">Recuperar Contraseña</h1>
                  <p class="text-muted text-center">Por favor ingrese el correo con el que registró su cuenta.</p>
                  <div class="input-group mb-3" style="margin: 20px 0px 20px 0px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-envelope"></i></span>
                    </div>
                    <input type="email" class="form-control" placeholder="Su correo" autocomplete="email" required>
                  </div>
                  <div class="row">
                    <div class="col-6 mx-auto">
                      <button type="submit" id ="btn-login" class="btn btn-primary px-4 btn-block">Enviar Contraseña</button>
                    </div>
                  </div>
                </form>
                <p class="text-center" style="padding: 25px 0px 0px 0px;"><a routerLink="/login">Volver al inicio de sesión</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
