<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                  <div style="display: flex; justify-content: center;">
                    <img class="onlyMobile" style="width: 65px; height: auto;" src = "../../../assets/img/avatars/login.png">
                  </div>
                  <h1 class="text-center">Inicio de Sesión</h1>
                  <p class="text-muted text-center">Por favor escriba sus datos de acceso</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Usuario" autocomplete="username" formControlName="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña" autocomplete="current-password" formControlName="password" required>
                  </div>
                  <div class="row">
                    <div class="col-6 mx-auto">
                      <button type="submit" id ="btn-login" class="btn btn-primary px-4 btn-block">Entrar &rarr;</button>
                    </div>
                  </div>
                </form>
                <a routerLink="/forgot" style="display:block; text-align:center; padding: 10px 0px 2px 0px;">Olvidé mi contraseña</a>
                <a routerLink="/register" style="display:block; text-align:center; padding: 3px 0px 0px 0px;">Registrar nueva cuenta</a>
              </div>
            </div>
            <div id = "logo" class="card text-white bg-primary py-5 d-md-down-none">
              <div class="card-body text-center">
                <div>
                  <img src = "../../../assets/img/avatars/login.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
