<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Lista de calificaciones
        </div>
        <div>
          <div class="container">
            <h3>Filtrar por: </h3>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label" for="anio">
                    Año
                    <span class="red">*</span>
                  </label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                      </div>
                      <input id="anio" name='anio' [(ngModel)]='anio' class="form-control" size="16" type="number">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="grado">
                    Grados
                  <span class="red">*</span>
                  </label>
                  <div class="controls">
                    <div class="input-group">
                      <select class="form-control" id="grado" name='idgrado' [(ngModel)]='grado'>
                        <option [ngValue]="{}">Seleccione el grado</option>
                        <option *ngFor="let g of grados" [ngValue]="g">
                          {{g.grado}}
                        </option>
                      </select>
                      <div class="input-group-append">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <br>
                  <br>
                  <button class="btn btn-primary" (click)="cargarAlumnos()">
                    Cargar Alumnos
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label" for="periodo">Periodo</label>
                  <div class="controls">
                    <div class="input-group">
                      <select class="form-control" id="periodo" name='idperiodo' [(ngModel)]='periodo'>
                        <option [ngValue]="{}">Seleccione el periodo</option>
                        <option *ngFor="let p of periodos" value="{{p.idperiodo}}">
                          {{p.descripcion}}
                        </option>
                      </select>
                      <div class="input-group-append">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label" for="asignatura">Asignatura</label>
                  <div class="controls">
                    <div class="input-group">
                      <select class="form-control" id="asignatura" name='idasignatura' [(ngModel)]='asignatura'>
                        <option [ngValue]="{}">Seleccione la asignatura</option>
                        <option *ngFor="let a of asignaturas" value="{{a.idasignatura}}">
                          {{a.descripcion}}
                        </option>
                      </select>
                      <div class="input-group-append">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- Mostrar lista de alumnos solo cuando selecciona ano, grado y click en el button -->
            <div class="form-group" *ngIf = "alumnos.length">
              <label class="col-form-label" for="alumno">Alumno</label>
              <div class="controls">
                <div class="input-group">
                  <select class="form-control" id="alumno" name='idmatricula' [(ngModel)]='idmatricula'>
                    <option value="0">Seleccione el Alumno</option>
                    <option *ngFor="let a of alumnos" value="{{a.idmatricula}}">
                      {{a.nombre_alumno}}
                    </option>
                  </select>
                </div>
              </div>
              <br><br>
            </div>
            <button class="btn btn-primary" (click)="cargarCalificaciones()">
              Cargar calificacion
            </button>
        </div>

        <div class="card-body">
          <div class="row" >
            <div class="col-md-2">
              <b>Nombre Alumno</b>
            </div>
            <div class="col-md-2">
              <b>Acumulado</b>
            </div>
            <div class="col-md-2">
              <b>Examen</b>
            </div>  
            <div class="col-md-2">
              <b>Total</b>
            </div>
            <div class="col-md-2">
              <b>Grado</b>
            </div>
            <div class="col-md-2">
              <b>Periodo</b>
            </div>
          </div>



            <div class="row" *ngFor="let calificacion of calificaciones">
              <div class="col-md-2">
                <p>{{calificacion.nombre_alumno}}</p>
              </div>
              <div class="col-md-2">
                <p>{{calificacion.Acumulado}}</p>
              </div>
              <div class="col-md-2">
                <p>{{calificacion.Examen}}</p>
              </div>  
              <div class="col-md-2">
                <p>{{calificacion.Total}}</p>
              </div>
              <div class="col-md-2">
                <p>{{calificacion.grado}}</p>
              </div>
              <div class="col-md-2">
                <p>{{calificacion.periodo}}</p>
              </div>

              <div class="col-md-2">
                <p>
                    <button class="btn btn-primary" (click)="seleccionarAsignatura(asignatura)">Editar</button>
                    <button class="btn btn-primary" (click)="eliminarAsignatura(asignatura)">Eliminar</button>
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>