<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto" style="margin-top: 30px;">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
                <div style="display: flex; justify-content: center;">
                  <img style="width: 65px; height: auto;" src = "../../../assets/img/avatars/login.png">
                </div>
                <h1 class="text-center">Registro de usuario</h1>
                <p class="text-muted text-center">Formulario para crear una nueva cuenta de acceso</p>
                <label for="password">Primer y Segundo Nombre</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Juan José" autocomplete="firstName" formControlName="nombres" required>
                </div>
                <label for="password">Apellidos</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Cruz Alvarado" autocomplete="lastName" formControlName="apellidos" required>
                </div>
                <label for="password">Cédula de Identidad</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="1234-1234-12345" autocomplete="id" formControlName="identidad" required>
                </div>
                <label for="password">Dirección</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Colonia, calle, avenida, casa, ciudad, pais" autocomplete="address" formControlName="direccion" required>
                </div>
                <label for="password">Correo Electrónico</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="nombre@empresa.com" autocomplete="email" formControlName="email" required>
                </div>
                <label for="password">Usuario</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="apodo" autocomplete="username" formControlName="username" required>
                </div>
                <label for="password">Contraseña</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="gato123" autocomplete="new-password" formControlName="password" required>
                </div>
                <label for="password">Repetir Contraseña</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input id="password" type="password" class="form-control" placeholder="gato123" autocomplete="new-password" formControlName="passwordRepeat" required>
                </div>
                <label for="password">Rol del Usuario</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="el id del rol en base de datos" autocomplete="role" formControlName="idrol" required>
                </div>
                <label for="password">Contraseña del director</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend" style="border: 1px solid #f86c6b; border-radius: 5px 0px 0px 5px;">
                    <span class="input-group-text" style="background-color: #f86c6b; border-color: #f86c6b;"><i class="icon-lock" style="color: white;"></i></span>
                  </div>
                  <input type="password" class="form-control btn-danger" placeholder="" formControlName="secretPassword" required style="border: 1px solid #f86c6b; background-color: white;">
                </div>
                <button type="submit" class="btn btn-block btn-danger">Crear cuenta</button>
              </form>
              <a style="margin: 10px 0px 10px 0px; text-align: center; display: block;" routerLink="/login">&larr; Volver al Inicio de Sesión</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
