<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto" style="margin-top: 30px;">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
                <div style="display: flex; justify-content: center;">
                  <img style="width: 65px; height: auto;" src = "../../../assets/img/avatars/login.png">
                </div>
                <h1 class="text-center">Registro de usuario</h1>
                <p class="text-muted text-center">Crear una nueva cuenta</p>
                <div class="form-row">
                  <label for="password">Primer y Segundo Nombre</label>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Ej: Juan José" autocomplete="firstName" formControlName="nombres" required>
                </div>
                <div class="form-row">
                  <label for="password">Apellidos:</label>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Ej: Cruz Alvarado" autocomplete="lastName" formControlName="apellidos" required>
                </div>
                <div class="form-row">
                  <label for="password">Cédula de Identidad:</label>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Ej: 1234-1234-12345" autocomplete="id" formControlName="identidad" required>
                </div>
                <div class="form-row">
                  <label for="password">Dirección:</label>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Ej: Colonia, calle, avenida, casa, ciudad, pais" autocomplete="address" formControlName="direccion" required>
                </div>
                <div class="form-row">
                  <label for="password">Correo Electrónico:</label>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Ej: nombre@empresa.com" autocomplete="email" formControlName="email" required>
                </div>
                <div class="form-row">
                  <label for="password">Usuario:</label>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Ej: apodo" autocomplete="username" formControlName="username" required>
                </div>
                <div class="form-row">
                  <label for="password">Contraseña:</label>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Ej: gato123" autocomplete="new-password" formControlName="password" required>
                </div>
                <div class="form-row">
                  <label for="password">Repetir Contraseña:</label>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input id="password" type="password" class="form-control" placeholder="Ej: gato123" autocomplete="new-password" formControlName="passwordRepeat" required>
                </div>
                <div class="form-row">
                  <label for="password">Rol del Usuario:</label>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Ej: el id del rol en base de datos" autocomplete="role" formControlName="idrol" required>
                </div>
                <div class="form-row">
                  <label for="password">IMPORTANTE PARA PODER CONTINUAR:</label>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend" style="border: 1px solid red; border-radius: 5px 0px 0px 5px;">
                    <span class="input-group-text" style="background-color: red; border-color: red;"><i class="icon-lock" style="color: white;"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Contraseña del administrador" formControlName="secretPassword" required style="border: 1px solid red;">
                </div>
                <button type="submit" class="btn btn-block btn-danger">Crear cuenta</button>
              </form>
              <a style="margin: 10px 0px 10px 0px; text-align: center; display: block;" routerLink="/login">&larr; Volver al Inicio de Sesión</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
