<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <div style="display: flex; justify-content: center;">
                  <img style="width: 65px; height: auto;" src = "../../../assets/img/avatars/login.png">
                </div>
                <h1 class="text-center">Registro de usuario</h1>
                <p class="text-muted text-center">Crear una nueva cuenta</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Usuario" autocomplete="username" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Correo" autocomplete="email" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Contraseña" autocomplete="new-password" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Repetir contraseña" autocomplete="new-password" required>
                </div>
                <button type="button" class="btn btn-block btn-success">Crear cuenta</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
